
<mat-spinner *ngIf="loading" > </mat-spinner>

<form (submit)=(onSignUp(loginForm)) #loginForm *ngIf="!loading" >
  <mat-card>
    <mat-form-field>
          <input
              matInput
              type="email"
              name="email"
              ngModel
              #emailInput="ngModel"
              placeholder="E-mail"
              required
              email
          >
          <!-- name,ngModel -to tell which control to map to
          #emailInput="ngModel" is for local ref within template
        eg using control with *ngIf somewhere else in other control
      name , ngModel is imp -->
          <mat-error *ngIf="emailInput.invalid"> please enter a valid Email </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password"
            name="password"
            ngModel
            required
            matInput placeholder="Password"
            #passwordInput="ngModel"
      >
      <mat-error *ngIf="passwordInput.invalid"> please enter a valid password </mat-error>
      </mat-form-field>
  </mat-card>

  <button
    mat-raised-button
    color="accent"
  >
    Login
  </button>
</form>
