<form #postForm="ngForm" (ngSubmit)="onAddPost(postForm)" >
  <!-- ngForm - creates form object  -->
  <mat-card>
    <mat-form-field>
          <input
              matInput
              type="text"
              name="title"
              ngModel
              required
              placeholder="Post Title"
              #title= "ngModel"
          >
              <mat-error *ngIf="title.invalid"> please enter correct title </mat-error>
<!-- ngModel attaches value to the model -->
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="3"
        name="content"
        ngModel
        required
        #content="ngModel"
        placeholder="Post Content"
      ></textarea>
      <!-- ="ngModel" 2 way binding -->
      <mat-error *ngIf="content.invalid"> please enter correct content </mat-error>
      </mat-form-field>
  </mat-card>
  <hr>

  <button
    mat-raised-button
    color="primary"
  >
    save
  </button>

</form>


<!--  // ngModel way
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>

  <mat-card>
    <mat-form-field>
      <textarea matInput rows="6" [(ngModel)]="enteredContent" > </textarea>
      </mat-form-field>
  </mat-card>


<hr>

<button
  mat-raised-button
  color="primary"
  (click)="onAddPost()">
  save
</button>

-->
