<mat-spinner *ngIf="loading"> </mat-spinner>
<mat-paginator [length]="numPages"
               [pageSize]="displaySize"
               [pageSizeOptions]="dispOptions"
               (page)="onPageChange($event)" >
</mat-paginator>


<mat-accordion multi="true" *ngIf="posts.length && !loading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <a *ngIf="isAuthenticated"
            color="secondary"
            mat-button [routerLink]="['edit',post.id]"
            >
            EDIT
      </a>
      <button *ngIf="isAuthenticated"
              color= "warn"
              mat-button
              (click)="postDelete(post.id)"
              >
              DELETE
      </button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>


<p class="info-text mat-body-1" *ngIf="!posts.length"> No posts added yet.  </p>
